ul,
ol {
    margin: 20px;
    padding: 0;
    list-style-position: inside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

ul ul {
    list-style-type: circle;
    margin-left: 20px;
}

ol ol {
    list-style-type: lower-alpha;
}